/* selector select bases on the HTML element name */
p,
h1 {
  text-align: center;
  color: red;
}

/* 
    The id selector uses the id attribute of an HTML element to select a specific element.

    The id of an element is unique within a page, so the id selector is used to select one unique element!

    To select an element with a specific id, write a hash (#) character, followed by the id of the element.

    Note: An id name cannot start with a number, and must be unique.
*/
#para1 {
  text-align: center;
  color: blue;
}

/*
    The class selector selects HTML elements with a specific class attribute.

    To select elements with a specific class, write a period (.) character, followed by the class name.
*/
.para2 {
  text-align: center;
  color: green;
}

/* 
    You can also specify that only specific HTML elements should be affected by a class. 
*/
div.myClass {
  text-align: right;
  color: black;
}

/*
    HTML elements can also refer to more than one class. 
*/
.center {
  text-align: center;
}

.large {
  font-size: 40px;
}

/* 
    The universal selector (*) selects all HTML elements on the page.
*/
* {
  text-align: center;
  color: blue;
}

/* 
    The grouping selector selects all the HTML elements with the same style definitions.

    To group selectors, separate each selector with a comma.
*/
h1,
h2,
div {
  font-size: 25px;
}
