/* Serif Follback */

.p-example1 {
  font-weight: bold;
  font-family: serif;
}

/* Sans-serif follback */

.p-example2 {
  font-weight: bold;
  font-family: sans-serif;
}

/* Monospace follback */

.p-example3 {
  font-weight: bold;
  font-family: monospace;
}

/* Cursive follback */

.p-example4 {
  font-weight: bold;
  font-family: cursive;
}

/* Fantasy follback */

.p-example5 {
  font-weight: bold;
  font-family: fantasy;
}
