/* 
                Instead writing like this:

                body {
                    background-color: #ff0000;
                    background-image: url(../../Assets/Images/picture-3.jpg);
                    background-repeat: no-repeat;
                    background-attachment: fixed;
                    background-position: top right;
                }

                use shorthand property background.

                When using the shorthand property the order of the property values is:

                    1. background-color
                    2. background-image
                    3. background-repeat
                    4. background-attachment
                    5. background-position
                
                It does not matter if one of the property values is missing, as long as the other ones are in this order. Note that we do not use the background-attachment property in the examples above, as it does not have a value.
            */

body {
  height: 1000px;
  background: #ff0000 url(../Assets/Images/picture-3.jpg) no-repeat fixed top
    right;
}
